<li class="<%=  self_or_other(message) %>">
  <div class="avatar">
    <%# byebug %>
    <% if self_or_other(message) == "self" %>
      <%= image_tag "avatar-default.png" %>
    <% else %>
      <%= image_tag "avatar-default1.png" %>
    <% end %>
  </div>
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message_interlocutor(message).name %> • <%= message.created_at.strftime("%H:%M %p") %>
    </time>
  </div>
</li>
